 body {
    font-family: Cabin, Arial, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

header{
    background-color: lightblue;
    color: #f2f2f2;
    font-size: 2em;
    display: flex;
    justify-content: flex-end; /* Aligns children (the button) to the right */
}


.highlight {
    background-color: yellow;
}

.timeline {
    display:table-cell;
    padding:5px;
    font-weight:lighter;
    color: grey;
    font-size: 80%;
    font-style: italic;
    vertical-align: super;
}


.row {
    display : 'block';
    margin : '10px';
    cursor : 'pointer';
    display : 'table-row';
}

.paragraph {
    width: 100%;
    font-size: 12pt;
    height: auto;
    resize: none;
    border: none;
    outline: none;  
    overflow-y: auto;
    padding: 10px;
}
