 body {
    font-family: Cabin, Arial, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

em {
    font-style: italic;
    font-weight: bold;
    color: red;

}

del {
    text-decoration: line-through;
    font-weight: lighter;
    color: grey;
}


main {
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.home-button {
    align-self: flex-start;
}


.timeline {
    display:table-cell;
    padding:5px;
    font-weight:lighter;
    color: grey;
    font-size: 80%;
    font-style: italic;
    vertical-align: super;
    cursor: pointer;
}

.caret {
    display:table-cell;
    vertical-align: super;
    cursor: pointer;
}


.row {
    display : 'block';
    margin : '10px';
    cursor : 'pointer';
    display : 'table-row';
}

.paragraph {
    width: 100%;
    font-size: 12pt;
    height: auto;
    border: none;
    outline: none;  
    overflow-y: auto;
    background-color: inherit;
}

.paragraph_textarea {
    width: 100%;
    font-size: 12pt;
    height: auto;
    resize: none;
    border: none;
    outline: none;  
    overflow-y: auto;
    background-color: inherit;
    display: none;
}



#slide_text {
    width: 99%;
    font-size: 12pt;
    min-height: 200px;
    outline: none;  
}

.highlight {
    background-color: yellow;
}

.change_red {
    color: red;
    text-decoration: line-through;
}

.change_green {
    color: green;
}

