 body {
    font-family: Cabin, Arial, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

em {
    font-style: italic;
    font-weight: bold;
    color: red;

}

del {
    text-decoration: line-through;
    font-weight: lighter;
    color: grey;
}


blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

main {
    padding-top: 20px;
    padding-left: 150px;
    padding-right: 150px;
}

.home-button {
    align-self: flex-start;
}


.timeline {
    display:table-cell;
    padding:5px;
    font-weight:lighter;
    color: grey;
    font-size: 80%;
    font-style: italic;
    vertical-align: super;
    cursor: pointer;
}

.caret {
    display:table-cell;
    vertical-align: super;
    cursor: pointer;
}

.chat-icon {
    display: none;
}

.caret:hover .chat-icon {
    display: inline;
}



.row {
    display : 'block';
    margin : '10px';
    cursor : 'pointer';
    display : 'table-row';
}

.paragraph {
    width: 100%;
    font-size: 12pt;
    height: auto;
    border: none;
    outline: none;  
    overflow-y: auto;
    background-color: inherit;
}

.paragraph_textarea {
    width: 100%;
    font-size: 12pt;
    height: auto;
    resize: none;
    border: none;
    outline: none;  
    overflow-y: auto;
    background-color: inherit;
    display: none;
}



#slide_text {
    width: 99%;
    font-size: 12pt;
    min-height: 200px;
    outline: none;  
}

.highlight {
    background-color: yellow;
}

.change_red {
    color: red;
    text-decoration: line-through;
}

.change_green {
    color: green;
}

#spinner-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);  
    color: white;
    display: none;
    justify-content: center;
    align-items: center;
}

.spinner {
    border: 10px solid #f3f3f3;
    border-top: 16px solid #3498db;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    animation: spin 2s linear infinite;
    display: block;
    
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}